<div class="landing-block">
    <div>
        <form class="form-inline" #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
            <label for="emailInput">Signup to receive our newsletter:</label>
            <input type="email" id="emailInput" [(ngModel)]="userEmail" name="userEmail">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
        <img src="./../../assets/snaps/snapface-logo_70%25.png" />
    </div>

    <div>
        <button (click)="onContinue()">Continue to Snapface</button>
    </div>
</div>